*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size: 16px;
    min-height:100%;
}

body {
    line-height: 1.6;
    min-height:100%;
}
#app{
    min-height:100%;
}

body{
    background:url('/images/background.jpg') repeat;
    background-size:600px auto;
    background-attachment:fixed;
    
    font-family: "Cormorant Garamond", serif;
    overflow-x:hidden;

    color:#444;
}

a{
    text-decoration:none;
}

img{
    max-width:100%;
}

section{
    position:relative;
}

h1,
h2,
h3,
.hero-title{
    font-family:"Great Vibes", cursive;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    body {
        background-size: 300px auto;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 13px;
    }

    body {
        background-size: 220px auto;
    }
}